<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.embednet.wdluo.bleplatformsdkdemo">

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <!--  -->
    <!-- 兼容全面屏比例， -->
    <!-- 传统屏幕16/9=1.778 -->
    <!-- 全面屏 18.5/9=2.056 -->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/appName"
        android:theme="@style/AppTheme"
        tools:replace="icon,label,theme,allowBackup">


        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />


        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name" />
        <!-- <activity -->
        <!-- android:name=".dfu.DfuActivity" -->
        <!-- android:label="@string/title_activity_dfu" /> -->
        <activity
            android:name=".dfu.NotificationActivity"
            android:label="@string/title_activity_dfu" />

        <service
            android:name=".dfu.DfuService"
            android:exported="true"
            android:label="@string/dfu_service_title" />

        <activity
            android:name=".app.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".app.GuideActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.ControlActivity" />
        <activity android:name=".app.ScnnerActivity" />
        <activity android:name=".app.UpdateDFUActivity" />

        <!-- android7.0适配 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.embednet.wdluo.bleplatformsdkdemo"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- Bugly自动更新 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 第三方登录 -->

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:taskAffinity="me.shaohui.shareutil"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106565969" />
            </intent-filter>
        </activity>

        <!-- <activity-alias -->
        <!-- android:name="${applicationId}.wxapi.WXEntryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:targetActivity="com.embednet.wdluo.bleplatformsdkdemo.app.LoginActivity" /> -->
        <!-- 第三方登录 -->

        <activity
            android:name=".app.Main2Activity"
            android:launchMode="singleTask" />
        <activity android:name=".app.PersonalActivity" />
        <activity
            android:name=".app.Login2Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name="me.shaohui.shareutil._ShareActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:taskAffinity="me.shaohui.shareutil" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".app.Login2Activity" />

        <activity android:name=".app.RegisterActivity" />
        <activity android:name=".app.HistoryDataActivity" />

        <service
            android:name=".service.BleService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".app.UserInfoActivity" />
        <activity android:name=".app.ShareActivity" />
        <activity android:name=".app.AboutActivity"></activity>
    </application>

</manifest>